In [2]:
import pandas as pd

In [5]:
aapl = pd.read_excel('AAPL.xlsx')

In [11]:
aapl = aapl.dropna()[['Close','High','Low']]

In [10]:
aapl.dtypes

Time Interval     object
Close            float64
Net Chg          float64
Open             float64
High             float64
Low              float64
Tick Count       float64
Volume            object
dtype: object

In [8]:
tickers = ['AAPL','AMZN','COIN','FB','GOOG','MSFT','NVDA','SQ','TSLA','V','XOM']
len(tickers)

11

In [17]:
for t in tickers:
    pd.read_excel(f'{t}.xlsx').dropna().reset_index()[['Close','High','Low']].iloc[:1161,].to_csv(f'../{t}.csv')

In [13]:
for df in dfs:
    print(len(df))

1161
1161
1161
1161
1161
1161
1161
1163
1161
1163
1163

In [16]:
dfs[7].reset_index().iloc[:1161,]

      index    Close     High      Low
0         0  104.620  274.370   82.720
1         2  270.032  270.500  267.940
2         3  271.820  272.710  269.640
3         4  272.755  273.150  271.212
4         5  271.000  273.000  270.795
...     ...      ...      ...      ...
1156   1322   97.850  104.680   97.850
1157   1323   99.330  100.068   97.390
1158   1324  101.310  101.680   98.310
1159   1325  104.060  104.366  101.140
1160   1326  104.810  105.660  103.670

[1161 rows x 4 columns]